{% extends "base.html" %}

{% block title %}
InstructScore Visualizer
{% endblock %}

{% block content %}

<style>

</style>

<div class = "container">
    <div class = "custom-text">
        Welcome to InstructScore Visualizer!
    </div>

    <div class="description">
        <p>This webapp expects the output of SimulEval (.log) and uses InstructScore to evaluate the output of a Streaming Speech Translation model</p>
    </div>

    <div class="description">
        <p>If you have a .log file that needs to be processed, click <a href="{{ url_for('log_input') }}">here</a></p>
        
    </div>

    <div class="description">  
        <p>If you have a .json file that has already been processed, click <a href="{{ url_for('instruct_in') }}">here</a></p>
    </div>
</div>
{% endblock %}
