<!--
This HTML template file is used for rendering a form to input log file details in the InstructScore Visualizer application.

The template extends the "base.html" template and defines blocks for the title and content.

The form allows the user to input the path to the .log file, the source language, target language, a unique memorable name, and their email.

The form is submitted to the 'process_log_input' URL using the POST method.

The input fields are as follows:
- user_input: The path to the .log file (e.g. /path/to/instances.log)
- source_lang: The source language
- target_lang: The target language
- memorable_name: A unique memorable name for the log file
- email: The user's email address

The form also includes a submit button to submit the form.

Make sure to include /mnt/taurus, /mnt/aries, or /mnt/gemini in the path when entering the log file path.

This template is part of the InstructScore Visualizer application.
-->
{% extends "base.html" %}

{% block title %}
InstructScore Visualizer
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" action="{{ url_for('process_input_form') }}" class="input-form" id = "logForm" enctype="multipart/form-data">
            <h3 class="description">Final Step!</h3>
            <div class = "description">
                Please provide the source and target languages
            </div>
=
            <label for = "source_lang" class = "field-description-text">Source language:</label>
            <select id="source_lang" name="source_lang" class="input-field" onchange="updateTargetLanguages()">
                <option value="" disabled selected>Select Source Language</option>
                {% for lang in source_languages %}
                    <option value="{{ lang }}">{{ language_names[lang] }}</option>
                {% endfor %}
            </select>

            <label for = "target_lang" class = "field-description-text">Target language:</label>
            <select id="target_lang" name="target_lang" class="input-field">
                <option value="" disabled selected>Select Target Language</option>
                <!-- Options will be dynamically populated by JavaScript -->
            </select>
            
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>

    <script>

        function updateTargetLanguages() {
            const sourceLang = document.getElementById('source_lang').value;
            const targetLang = document.getElementById('target_lang');
            targetLang.innerHTML = '';

            const targetLanguages = {{ target_languages|tojson }};
            const languageNames = {{ language_names|tojson }};

            const option = document.createElement('option');
            option.value = '';
            option.text = 'Select Target Language';
            option.disabled = true;
            targetLang.appendChild(option);

            if (targetLanguages[sourceLang]) {
                targetLanguages[sourceLang].forEach(lang => {
                    const option = document.createElement('option');
                    option.value = lang;
                    option.text = languageNames[lang];
                    targetLang.appendChild(option);
                });
            }
        }

        // Initial call to populate target languages on page load
        window.onload = function() {
            updateTargetLanguages();
        }


        document.getElementById('logForm').addEventListener('submit', function(event) {
            // Get form elements
            var sourceLang = document.getElementById('source_lang').value;
            var targetLang = document.getElementById('target_lang').value;

    
            // Source and target languages validation
            if (sourceLang === "") {
                window.alert("Source language is required.");
                event.preventDefault();
                return false;
            }
            if (targetLang === "") {
                window.alert("Target language is required.");
                event.preventDefault();
                return false;
            }

        });
    </script>
{% endblock %}