{% extends "base.html" %}

{% block title %}
InstructScore Visualizer
{% endblock %}

{% block content %}
<div class = "description">
    Please input the path to the .json file (e.g. /mnt/taurus/data1/chinmay/instructscore_visualizer/jobs/Memorable name/Memorable Name.json).
</div>

<div class="container">
    <form method="POST" action="{{ url_for('visualize_instruct') }}" class="input-form">
        <input type="text" name="file" class="input-field" placeholder="/mnt/taurus/data1/chinmay/instructscore_visualizer/jobs/...">
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
{% endblock %}