<!--
This HTML template file is used for rendering the "InstructScore Visualizer" page. It extends the "base.html" template.

The template consists of the following blocks:
- title: Sets the title of the page to "InstructScore Visualizer".
- content: Contains the main content of the page.

Within the content block, there is a container div that holds a description and a form. The form allows the user to input a memorable name for Instructscore evaluation. When the form is submitted, it sends a POST request to the "visualize_instruct" URL.

HTML structure:
- container: A div that contains the description and the form.
    - description: A div that displays a message asking the user to input the memorable name.
    - form: A form element with method="POST" and action="{{ url_for('visualize_instruct') }}". It contains an input field for the name and a submit button.

Example usage:
- User inputs a descriptive name in the input field.
- User clicks the submit button.
- The form data is sent to the server for further processing.

Note: This code snippet is a part of a larger project and may require additional context to fully understand its functionality.
-->
{% extends "base.html" %}

{% block title %}
InstructScore Visualizer
{% endblock %}

{% block content %}

<div class="container">
    <div class = "description">
        Select the runs that you want to visualize:
    </div>
    <form method="POST" action="{{ url_for('visualize_instruct') }}" class="input-form">
       <select name="selected_options" multiple class="selectpicker" id="selectpicker" data-live-search="true">
            {% for key, value in options.items() %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

{% endblock %}