<html>
<body>

    <div class="help-circle">
        <span class="question-mark">?</span>
    </div>
    <span class="help-tooltip">
        {% for key,value in help_text.items()%}
            {% if value == "None"%}
                <span class="description">{{ key }}</span>
            {% else %}
                <span class={{ value }}>{{ key }}</span>
            {% endif %}
        {% endfor %}
    </span>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // JavaScript code to make tooltips appear on hover
        const tooltips = document.querySelectorAll('.tooltip');
        tooltips.forEach((tooltip) => {
            const parent = tooltip.previousElementSibling;
            parent.addEventListener('mouseover', (e) => {
                document.body.appendChild(tooltip);
                tooltip.style.display = 'block';
                tooltip.style.left = `${e.clientX}px`;
                tooltip.style.top = `${e.clientY}px`;
            });
            parent.addEventListener('mouseout', () => {
                tooltip.style.display = 'none';
                document.body.removeChild(tooltip);
            });
        });

        // JavaScript code to make help-tooltips appear on hover
        const help_tooltips = document.querySelectorAll('.help-tooltip');
        const helpCircle = document.querySelector('.help-circle');
        help_tooltips.forEach((help_tooltip) => {
            const parent = help_tooltip.previousElementSibling;
            parent.addEventListener('mouseover', (e) => {
                help_tooltip.style.display = 'block';
                const tooltipWidth = help_tooltip.offsetWidth;
                const tooltipHeight = help_tooltip.offsetHeight;
                help_tooltip.style.left = `${helpCircle.offsetLeft - tooltipWidth}px`;
                help_tooltip.style.top = `${helpCircle.offsetTop - tooltipHeight}px`;
            });
            parent.addEventListener('mouseout', () => {
                help_tooltip.style.display = 'none';
            });
        });

        // JavaScript code to make stats-tooltips appear on hover
        const stats_tooltips = document.querySelectorAll('.stats-tooltip');
        const statsCircle = document.querySelector('.stats-circle');
        stats_tooltips.forEach((stats_tooltip) => {
            const parent = stats_tooltip.previousElementSibling;
            parent.addEventListener('mouseover', (e) => {
                stats_tooltip.style.display = 'block';
                const tooltipWidth = stats_tooltip.offsetWidth;
                const tooltipHeight = stats_tooltip.offsetHeight;
                stats_tooltip.style.left = `${statsCircle.offsetWidth}px`;
                stats_tooltip.style.top = `${statsCircle.offsetTop - tooltipHeight}px`;
            });
            parent.addEventListener('mouseout', () => {
                stats_tooltip.style.display = 'none';
            });
        });
    });
</script>

</body>
</html>