<!--
This is the index.html file for the Translation Canvas web application. It extends the "base.html" template.

The file contains the following blocks:
- title: Sets the title of the web page to "Translation Canvas".
- content: Contains the main content of the web page.

Within the content block, the following elements are present:
- style: Defines the CSS styles for the page.
- container: A container div that holds the content of the page.
- custom-text: Displays a custom welcome message.
- description: Provides information about the web app and its functionality.
- link: Provides links to other pages of the web app.

To use this web app, users can either upload a .log file or a .json file. The .log file is processed using SimulEval, and the .json file is already processed.

To upload a .log file, users can click on the link provided in the "If you have a .log file that needs to be processed" section.
To upload a .json file, users can click on the link provided in the "If you have a .json file that has already been processed" section.
-->

{% extends "base.html" %}

{% block title %}
Translation Canvas
{% endblock %}

{% block content %}


<div class = "container">
    <div class = "custom-text">
        Welcome to Translation Canvas!
    </div>

    <div class="description">
        <p>This integrated webapp helps you evaluate and compare your models predictions to understand what is happening with your models. Before we get started, let's do some setup.</p>
    </div>
    <form method="GET" action="{{ url_for('setup') }}" class="input-form">
        <button id="addButton" class="submit-button">Setup</button>
    </form>
</div>
{% endblock %}
