<!--
This is the index.html file for the InstructScore Visualizer web application. It extends the "base.html" template.

The file contains the following blocks:
- title: Sets the title of the web page to "InstructScore Visualizer".
- content: Contains the main content of the web page.

Within the content block, the following elements are present:
- style: Defines the CSS styles for the page.
- container: A container div that holds the content of the page.
- custom-text: Displays a custom welcome message.
- description: Provides information about the web app and its functionality.
- link: Provides links to other pages of the web app.

To use this web app, users can either upload a .log file or a .json file. The .log file is processed using SimulEval, and the .json file is already processed.

To upload a .log file, users can click on the link provided in the "If you have a .log file that needs to be processed" section.
To upload a .json file, users can click on the link provided in the "If you have a .json file that has already been processed" section.
-->

{% extends "base.html" %}

{% block title %}
InstructScore Visualizer
{% endblock %}

{% block content %}

<style>

</style>

<div class = "container">
    <div class = "custom-text">
        Welcome to InstructScore Visualizer!
    </div>

    <div class="description">
        <p>This webapp expects the output of SimulEval (.log) and uses InstructScore to evaluate the output of a Streaming Speech Translation model</p>
    </div>

    <div class="description">
        <p>If you have a .log file that needs to be processed, click <a href="{{ url_for('basic_info') }}">here</a></p>
        
    </div>

    <div class="description">  
        <p>If you have a .json file that has already been processed, click <a href="{{ url_for('instruct_in') }}">here</a></p>
    </div>
</div>
{% endblock %}
