{% extends "base.html" %}

{% block title %}
InstructScore Visualizer
{% endblock %}

{% block content %}

<body>

    <div class = "content-holder">
        {% for evaluation in input_data%}
            <div class="container">        
                <div>
                <h1 class="pred-ref"> Prediction: </h1>
                {% for key, value in evaluation.prediction.items() %}
                    {% if value == "None" %}
                        <span class="description">{{ key }}</span>
                    {% elif value is mapping %}
                        {% if value.error_scale == "Minor" %}
                            <span class="orange-text">{{ key }}</span>
                        {% else %}
                            <span class="red-text">{{ key }}</span>
                        {% endif %}
                        <span class="tooltip">
                            Error Type: {{ value.error_type }}<br>
                            Error Location: {{ value.error_location }}<br>
                            Major/minor: {{ value.error_scale }}<br>
                            Error explanation: {{ value.error_explanation }}
                        </span>
                    {% else %}
                        {{ value }}
                    {% endif %}
                    {% if not loop.last %} {% endif %}
                {% endfor %}
                </div>

                <div> 
                    <h1 class="pred-ref" > Reference: </h1>            
                    <span class="description">{{ evaluation.reference }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

     <!-- Circle with question mark icon -->
     <div class="help-circle">
        <span class="question-mark">?</span>
    </div>
    <span class="help-tooltip">
        <p>Hover over the red and orange text to see the error details.</p>
        <p> Hover over the question mark to see this help tooltip.</p>
        <p> The <span class = "red-text"> red text </span> signifies major errors and <span class = "orange-text"> orange text </span> signifies minor text. </p>
    </span>

    <script>
        // JavaScript to show tooltip on hover
        const tooltips = document.querySelectorAll('.tooltip');

        tooltips.forEach((tooltip) => {
            const parent = tooltip.previousElementSibling;
            parent.addEventListener('mouseover', (e) => {
                tooltip.style.display = 'block';
                tooltip.style.left = `${e.pageX}px`; // Set tooltip horizontal position
                tooltip.style.top = `${e.pageY}px`; // Set tooltip vertical position
            });

            parent.addEventListener('mouseout', () => {
                tooltip.style.display = 'none';
            });
        });

         // JavaScript to show help-tooltip on hover
        const help_tooltips = document.querySelectorAll('.help-tooltip');
        const helpCircle = document.querySelector('.help-circle');

        help_tooltips.forEach((help_tooltip) => {
            const parent = help_tooltip.previousElementSibling;
            window.console.log(parent)
            parent.addEventListener('mouseover', (e) => {
                help_tooltip.style.display = 'block';
                window.console.log("mouseover")
                const tooltipWidth = help_tooltip.offsetWidth;
                const tooltipHeight = help_tooltip.offsetHeight;
                const mouseX = e.clientX;
                const mouseY = e.clientY;

                // Position tooltip to the left and above the mouse
                help_tooltip.style.left = `${helpCircle.offsetLeft - tooltipWidth}px`;
                help_tooltip.style.top = `${helpCircle.offsetTop - tooltipHeight}px`;
            });

            parent.addEventListener('mouseout', () => {
                help_tooltip.style.display = 'none';
            });
        });
    </script>
</body>
{% endblock %}
